/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    height: 65px;
    width: 75px;
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home::before{ 
    content: "";
    position: absolute;
    
    
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    animation: forwards;
    animation-iteration-count: infinite;
}

#home h1{
    color:rgb(241, 242, 245);
    text-align: center;
    font-size: 3em;
    font-weight: 500;
}

#home p{
    color:rgb(239, 240, 245);
    text-align: center;
    font-size: 1.5rem;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto;
}

.container h1 {
    width: 100%;
    text-align: center;
    color: brown;
    font-size: 3em;
    text-transform: uppercase;
}

.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 18rem;
    box-shadow: 0 2px 1px brown;
}

.card-title {
    text-align: center;
    color: brown;
}

.card-text {
    text-align: center;
}